
$basecolor: rgb(45, 63, 81);
$lightcolor: rgb(255, 255, 255);
$danger: #c8342d;
$bgcolor: #f5f5f5;
$alpha: 0.7;
$textsize: 14px;

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: $textsize;
    color: $basecolor;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
.header {
    width: 100%;
    height: 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    color: #fff;
}
.navbar {
    height: 113px;
    justify-content: space-between;
}
.navbar-nav{
    
    li {
        margin: 0 21px 0 21px;
        &:hover {
            border: 1px solid #fff;
            border-radius: 5px;
        }
    }
    a {
        text-transform: uppercase;
        padding: 12px;}
}
.nav__social {


    li {
        margin-right: 38px;
    }
    a:hover {
        color: $danger;
    }
}
.navbar-brand {
    text-transform: uppercase;
}
#navbarToggler {
    flex-grow: 0;
}
#toggle-search {
    background-color: transparent;
    border: none;
}
#carouselBanner {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    ol {
        margin-bottom: 80px;
    }
    li {
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
    .carousel-item {
        img {
            min-height: 500px;
            object-fit: cover;
        }

    }
}

.banner {
    position: absolute;
    z-index: 50;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 32%);
    @media (max-width: 1024px) {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 10%);
    }

    span {
        color: $danger;
    }
    &__title {
        font-size: 56px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 33px;
        line-height: 1;
    }
    &__text {
        color: #c4c6ca;
        line-height: 2.1;
        margin-bottom: 41px;
    }
}

.btn {
    width: 255px;
    height: 63px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.btn-red {
    @extend .btn;
    background-color: $danger;
}

.about {
    margin-bottom: 0;
    padding: 80px 0;
        &__inner {
            padding: 0 30px;
        }
        &__item {
            margin-bottom: 40px;
            width: 540px;
            box-shadow: 0px 0px 40px 0px rgba(17, 25, 36, 0.1);
           
            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 768px) {
                width: 255px;
            }
        }
        &__content {
            padding: 40px 0 40px 30px;
            text-align: left;
        }
        &__text {
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 1;
        }
        &__subtext {
            line-height: 2;
            margin-bottom: 35px;
        }
        &__link {
           @extend .about__text;
           margin-bottom: 0;
        }

        
        &__right {
            max-width: 475px;
            &-heading {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 30px;
                text-transform: uppercase;
                span {
                    font-weight: 400;
                }
            }

            &-text {
                margin-bottom: 40px;
            }
        }
}

.work {
    margin-bottom: 0;
    background-color: $bgcolor;
    padding: 80px 0;
    &__title {
        margin-bottom: 33px;
        font-weight: 700;
        line-height: 1;
    }
    &__subtitle {
        line-height: 2;
        margin-bottom: 65px;
    }

    #pills-tab {
        margin-bottom: 37px;
        a {
            padding: 11px 20px;
            margin: 0 11px;
            font-weight: 700;
            text-transform: uppercase;
            &.active {
                background-color: transparent;
                color: $danger;
                border: 1px solid $danger;
                border-radius: 5px;
            }
        }
        
    
    }
    #pills-tabContent {
        margin-bottom: 80px;
        .tab-pane {
            margin: 0 auto;
        }
        .tab-pane__item {
            margin-top: 30px;

           @media (max-width: 768px) {
                width: 100%;
            }
    

           
        }
    }

}

.process {
    margin-bottom: 0;
    height: auto;
    min-height: 495px;
    background: #2d3f51;

    &__title {
        font-size: 56px;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        margin-bottom: 33px;
    }
    &__subtitle {
        color: rgba(255, 255, 255, 0.702);
        line-height: 2;
        margin-bottom: 80px;
    }
    &__inner {
        padding: 0 30px;
    }

    &__item {
        max-width: 160px;
        display: flex;
        flex-direction: column;

        &:hover  .process__icon{
            border: 2px solid $danger;
        }

        &:hover .process__number{
            color: $danger;
        }
    }
    &__img {
        position: relative;
    }
    &__icon-wrap {
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
    }
    &__icon {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        overflow: hidden;
        transform: rotate(45deg);
        background: #2d3f51;
        border: 2px solid #fff;
    
        &:before {
            position: absolute;
            top: -3px; right: -3px; bottom: -3px; left: -3px;
            transform: rotate(45deg);
            content: '';
            border: inherit;
        }
    }
    
    &__number {
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }
    &__text {
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
    }
}

.service {
    padding: 80px 0;
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        margin: 0 auto 40px auto;
        text-transform: capitalize;
    }
    &__subtitle {
        line-height: 2;
        margin: 0 auto 80px auto;
        padding: 0 30px;
    }
    &__inner {
        padding: 0 30px;
    }
    &__item {
        max-width: 350px;
        min-width: 320px;
        padding: 53px 40px 58px 40px;
    }
    &__text {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 1;
    }
    &__subtext {
        line-height: 2;
    }
    &__pic{
        position: relative;
        margin-bottom: 25px;
    }
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*Testimonials*/
#carouselTestimonials {
    margin-bottom: 0;
    ol {
        margin-bottom: 70px;
    }
    li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin: 0 1px;
    }
    .carousel__img {
        
        min-height: 500px;
        width: 100%;
        object-fit: cover;
    }
    .carousel-caption {
        top: 10%;
        bottom: 0;
        max-width: 730px;
        margin: 0 auto;
        
        @media (max-width: 1024px) {
            top: 15%;
        }
        @media (max-width: 576px) {
            top: 5%;
        }
        
    }
    .testimonials__title {
        margin-bottom: 80px;
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
    }

    .testimonials__icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }
    .testimonials__person{
        font-size: 12px;
        font-weight: 700;
        color: $danger;
    }
    .testimonials__name {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 16px;

    }
    .testimonials__text {
        line-height: 2;
        color: rgba($lightcolor, $alpha);
        @media (max-width: 576px) {
            font-size: 12px;
        }
       
    }
}


/*Blog*/

.blog {
    padding: 80px 0;
    margin-bottom: 0;
    background-color: $bgcolor;

    &__heading {
        @extend .service__title;
    }
    &__subheading {
        @extend .service__subtitle;
        margin: 0 auto 75px auto;
    }

    &__inner {
        padding: 0 30px;
    }

    &__item {
        max-width: 1110px;
        min-width: 320px;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        box-shadow: 0px 0px 40px 0px rgba(17, 25, 36, 0.1);
        span {
            font-size: 12px;
            font-weight: 700;
            color: $danger;
            margin-right: 22px;
        }
    }

    &__card {
        max-width: 350px;
        min-width: 320px;
        padding: 37px 50px 40px 30px;
        box-shadow: 0px 0px 40px 0px rgba(17, 25, 36, 0.1);
        text-align: left;
        span {
            font-size: 12px;
            font-weight: 700;
            color: $danger;
            margin-right: 22px;
        }
    }
    &__content {
        text-align: left;
        padding: 37px 33px 35px 30px;
        line-height: 2;
    }

    &__date {
        margin-bottom: 38px;
        line-height: 1;
    }
    &__title {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 10px;
    }

    &__text {
        line-height: 2;
        margin-bottom: 30px;
        color: rgba($basecolor, $alpha);
    }
    &__link {
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
    }

}



  
  
    



   
